$pageWidth: 700px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;

// This is what controls the mimimum size for the full layout to show
// $fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$fullPageWidth: 1408px;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
